/*--------------------------------------------------------------
>>> BUTTONS - TABLE OF CONTENTS:
----------------------------------------------------------------
# Primary button
# Secondary button
# Toggle button
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Primary button
--------------------------------------------------------------*/
.btn {
  appearance: none;
  display: inline-block;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  @include typesetting(14, 17);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: rem(0.4);
  padding: rem(19) rem(32) rem(16);
  border: none;
  cursor: pointer;
  transition: all $timing $easing;

  &:visited {
    color: $white;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $orange-dark;
    color: $white;
  }

  &:focus,
  &:active {
    outline: rem(3) solid $teal-light;
  }
}

/*--------------------------------------------------------------
# Secondary button
--------------------------------------------------------------*/
.btn--secondary {
  background-color: $teal-darkest;

  &:hover,
  &:active,
  &:focus {
    background-color: $teal-darker;
  }

  @media print {
    display: none;
  }
}

/*--------------------------------------------------------------
# Toggle button
--------------------------------------------------------------*/

.btn {
  &--toggle {
    background-color: transparent;
    color: $teal-darkest;
    border: solid rem(1) $teal;

    .ico__path {
      stroke: $teal;
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $teal-darker;
      border-color: $teal-darker;

      .ico__path {
        stroke: $white;
      }
    }

    &:active,
    &:focus {
      outline: rem(3) solid $teal-light;
    }

    &:visited {
      color: $teal-darkest;

      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }

    &.is-active {
      background-color: $teal;
      color: $white;

      .ico__path {
        stroke: $white;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $teal-darker;
        border-color: $teal-darker;
      }

      &:active,
      &:focus {
        outline: rem(3) solid $teal-light;
      }
    }
  }

  // Modal button (activates modal windows)
  &--modal {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $orange;
    padding: rem(4);
    transition: color $timing $easing;

    .btn__txt {
      margin-right: rem(8);
      color: $orange;
      transition: color $timing $easing;
    }

    .btn__txt,
    .btn__ico {
      pointer-events: none;
    }

    .ico__path {
      stroke: $orange;
      transition: stroke $timing $easing;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $teal-darkest;

      .btn__txt {
        color: $teal-darkest;
      }

      .ico__path {
        stroke: $teal-darkest;
      }
    }
  }

  // Leading icon btns
  &--leading-icon {
    display: inline-flex;
    align-items: center;
    padding: rem(19) rem(32) rem(15);

    .btn__txt,
    .btn__ico {
      pointer-events: none;
    }

    .btn__ico {
      margin-right: rem(6);
    }
  }

  // Close button
  &--close {
    background-color: $teal;
    padding: rem(15) rem(16) rem(12);

    &:hover,
    &:active,
    &:focus {
      background-color: $teal-darker;
    }

    &:active,
    &:focus {
      outline: rem(3) solid $teal-light;
    }

    .btn__ico {
      display: block;
      margin-bottom: rem(4);

      path {
        stroke: $white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: rem(1.5);
      }
    }
  }

  @media print {
    display: none;
  }
}
