html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
button,
input,
select,
textarea,
[role="tabpanel"],
.a11y-modal,
.btn {
  &:focus,
  &:active {
    outline: $brdr-sm solid $teal-light;
    outline-offset: rem(-2); // Prevents outline from getting cut off in Safari
  }
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Removes gray background when button or link is tapped in iOS
}

button {
  border: none;
  cursor: pointer;
}

::selection {
  background-color: $teal-lighter;
  color: $teal-darkest;
}

// Fieldset reset
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Prevents icons from getting cropped
svg {
  overflow: visible;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
