.page {
  .entry-header {
    display: flex;

    .hero {
      width: 100%;
    }

    .page-container {
      width: 100%;

      .page-content {
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        @media print {
          margin: 0;
        }

        .testimonial--block {
          margin-left: -1em;
          margin-right: -1em;
          @media print {
            margin: 0;
          }
        }
      }
    }
  }
}
