/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/

.logo {
  &__link {
    display: block;
    line-height: 0;
  }

  &__graphic {
    width: 100%;
    height: auto;
  }
}
