.container {
  max-width: rem(1220);
  padding: 0 rem(24);
  margin: 0 auto;

  &--small {
    max-width: rem(960);
  }
  &--vert-padded {
    padding-top: rem(48);
    padding-bottom: rem(48);
  }

  &--guide {
    padding: 0;

    @include brkpnt-xs {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 rem(24);
    }
  }
}
