/*--------------------------------------------------------------
# Base paragraph spacing
--------------------------------------------------------------*/
p {
  margin: 0 0 rem(16);
}

/*--------------------------------------------------------------
# Filter & search results text
--------------------------------------------------------------*/
.results {
  color: $charcoal;
  margin-bottom: 0;

  b {
    color: $teal-darkest;
  }
}
