/*--------------------------------------------------------------
>>> Fonts embedded in head through Google Fonts:
----------------------------------------------------------------
# Source Sans Pro
# Khand
# Shadows Into Light
--------------------------------------------------------------*/
$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Khand", sans-serif;
$font-tertiary: "Shadows Into Light", cursive;
