/*--------------------------------------------------------------
>>> Fonts embedded in head through Google Fonts:
----------------------------------------------------------------
# Source Sans Pro
# Khand
# Shadows Into Light
--------------------------------------------------------------*/
$src-sans-pro: "Source Sans Pro", sans-serif;
$khand: "Khand", sans-serif;
$script: "Shadows Into Light", cursive;

$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Khand", sans-serif;
$font-tertiary: "Shadows Into Light", cursive;
