/*--------------------------------------------------------------
>>> VARIABLES - TABLE OF CONTENTS:
----------------------------------------------------------------
# Default font-size for site
# Breakpoints
# Animation
# Layout grid
# Border widths
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Default font-size for site
--------------------------------------------------------------*/
$font-size-base: 16; // 16px

/*--------------------------------------------------------------
# Breakpoints for site, called on in breakpoint mixins
--------------------------------------------------------------*/
$screen-xxs: 480;
$screen-xs: 767;
$screen-sm: 900;
$screen-md: 1023;
$screen-lg: 1200;
$screen-xl: 1400;
$screen-xxl: 1700;

/*--------------------------------------------------------------
# Animation - base settings
--------------------------------------------------------------*/
$timing: 0.3s;
$easing: ease-in-out;

/*--------------------------------------------------------------
# Layout Grid
--------------------------------------------------------------*/
$column-fluid: 1.9672131148%;
$column-static: rem(24);
$gutter-fluid: 2.2950819672%;
$gutter-static: rem(28);
$max-row-width: rem(1220);
$mobile-gutter-fluid: 5%;

/*--------------------------------------------------------------
# Border Widths - No rem/em units for these
--------------------------------------------------------------*/
$brdr-xxs: 1px;
$brdr-xs: 2px;
$brdr-sm: 4px;
$brdr-md: 6px;
$brdr-lg: 8px;
$brdr-xl: 12px;
$brdr-xxl: 16px;
