/*--------------------------------------------------------------
>>> COLORS - TABLE OF CONTENTS:
----------------------------------------------------------------
# Teal
# Orange
# Yellow
# Tan
# Charcoal
# White
# Helpers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Teal
--------------------------------------------------------------*/
$color-primary-lightest: #c9e3e3;
$color-primary-lighter: #87dede;
$color-primary-light: #1ab7b7;
$color-primary: #008383;
$color-primary-darker: #004143;
$color-primary-darkest: #192220;

/*--------------------------------------------------------------
# Orange
--------------------------------------------------------------*/
$color-secondary: #d34600;
$color-secondary-dark: #be4100;
$color-secondary-darker: #963808;
$color-secondary-darkest: #712701;

/*--------------------------------------------------------------
# Tan
--------------------------------------------------------------*/
$color-accent-primary-lightest: #f6f5f0;
$color-accent-primary-lighter: #ece9e2;
$color-accent-primary-light: #e0d6bf;

/*--------------------------------------------------------------
# Yellow
--------------------------------------------------------------*/
$color-accent-secondary: #ffcc04;

/*--------------------------------------------------------------
# Charcoal
--------------------------------------------------------------*/
$charcoal-lightest: #f5f5f5;
$charcoal-lighter: #d9d9d9;
$charcoal-light: #b4b4b4;
$charcoal: #707070;
$charcoal-dark: #4d4d4e;

/*--------------------------------------------------------------
# White
--------------------------------------------------------------*/
$white: #fff;

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.color-teallighter,
.color-teallighter:focus,
.color-teallighter:hover {
  color: $color-primary-lighter;
  fill: $color-primary-lighter;
}
.color-teallight,
.color-teallight:focus,
.color-teallight:hover {
  color: $color-primary-light;
  fill: $color-primary-light;
}
.color-teal,
.color-teal:focus,
.color-teal:hover {
  color: $color-primary;
  fill: $color-primary;
}
