/*--------------------------------------------------------------
# UI Cards
--------------------------------------------------------------*/

.card {
  background-color: $color-accent-primary-lightest;
  max-width: 100%;
  position: relative;

  &__img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  &__graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37.7%;
    height: 21.5%;
  }

  &__main {
    padding: rem(36) rem(24) rem(40);
    position: relative;
    z-index: 10;
  }

  &__title {
    @include typesetting(30, 36);
    margin-bottom: rem(12);
  }

  &__copy {
    margin-bottom: rem(24);
  }

  // Styling for tab buttons in cards
  &__controls {
    .tabs {
      &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
      }

      &__item {
        flex-basis: 48%;
        padding: 0;
        margin: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}
